In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: B434-D34A

 C:\workspace\python 디렉터리

2023-12-19  오후 03:09    <DIR>          .
2023-12-19  오후 03:09    <DIR>          ..
2023-12-17  오후 07:40             3,238 .gitignore
2023-12-19  오후 01:57    <DIR>          .ipynb_checkpoints
2023-12-13  오후 05:19    <DIR>          .virtual_documents
2023-12-17  오후 07:40            20,634 00_마크다운_실습용.ipynb
2023-12-11  오전 09:37           731,577 01_BeautifulSoup.html
2023-12-14  오후 03:09           965,815 01_Numpy.html
2023-12-17  오후 07:40            12,150 01_자료형&변수_연습문제_실습용.ipynb
2023-12-18  오후 02:19            18,899 02_Numpy_Quiz_실습용.ipynb
2023-12-11  오전 09:37         8,536,910 02_Requests.html
2023-12-11  오전 09:47         8,356,636 02_Requests_.html
2023-12-11  오전 09:58         8,165,451 02_Requests_수정.html
2023-12-18  오후 02:39           738,105 03.01_Pandas 패키지의 소개.html
2023-12-18  오후 02:39           646,848 03.02_Pandas 데이터 입출력.html
2023-12-18  오후 02:39           653,662 03.03_Pandas 데이터프레임 고급 인덱싱.html
2023-12-11  오후 01:14         2,700,764 03_API.html
2023-12-18  오후 04:14            65,482 03_Pandas_연습문제2_실습용.ipynb
2023-12-17  오후 07:40            10,686 03_코딩연습_전화번호프로그램_실습용-Copy1.ipynb
2023-12-12  오전 10:05         1,409,899 04_Selenium.html
2023-12-17  오후 07:40            13,252 05_클래스&내장함수_연습문제.ipynb
2023-11-24  오후 05:43            32,949 1~80_problems.ipynb
2023-12-17  오후 07:40            49,624 101~200.ipynb
2023-12-17  오후 07:40            21,403 201~240.ipynb
2023-12-11  오전 11:19             5,610 20231211_naver.xlsx
2023-12-13  오후 01:41            65,081 20231213한국관광여행기사.csv
2023-12-17  오후 07:40            48,793 241~270.ipynb
2023-12-17  오후 07:40            24,346 271~300.ipynb
2023-11-24  오후 04:27            32,949 80_problems.ipynb
2023-12-17  오후 07:40             9,926 81~100.ipynb
2023-12-07  오후 03:19            31,767 BeautifulSoup.ipynb
2023-10-21  오전 01:12            10,264 bot.ico
2023-10-15  오전 06:09               531 BS4_test.html
2023-12-13  오후 04:27    <DIR>          build
2023-08-22  오후 05:11               100 continue.html
2023-12-18  오후 02:40    <DIR>          data
2023-12-18  오후 02:39            43,576 data-20231218T053950Z-001.zip
2023-12-14  오후 02:12    <DIR>          dist
2023-12-12  오전 11:26            59,417 image.png
2023-12-13  오전 09:31    <DIR>          image_scrapped_20231213_092940
2023-08-22  오후 05:11             1,285 market.html
2023-08-22  오후 05:11                83 moved.html
2023-12-11  오전 11:19             5,610 naver.xlsx
2023-12-12  오전 11:30            72,083 naver_blog_인공지능_20221020to20231020.csv
2023-12-11  오후 03:25           591,805 naver_kin.txt
2023-12-17  오후 07:40             1,304 README.md
2023-10-19  오전 07:55            23,773 region_code.csv
2023-12-07  오후 02:07    <DIR>          sample
2023-12-19  오후 01:57                56 sample1.csv
2023-12-19  오후 01:58                44 sample2.csv
2023-12-07  오후 02:07       476,042,811 sample-20231207T050526Z-001.zip
2023-12-19  오후 01:59               151 sample3.txt
2023-12-19  오후 02:01               113 sample4.txt
2023-12-19  오후 02:01                57 sample5.csv
2023-12-19  오후 02:06                68 sample8.csv
2023-12-13  오후 05:07            21,450 scrapping - 복사본.ipynb
2023-12-14  오후 01:53            21,450 scrapping.ipynb
2023-12-14  오후 01:53             3,290 scrapping.py
2023-12-14  오후 02:05               798 scrapping.spec
2023-10-17  오전 09:18               679 signin.html
2023-10-21  오전 03:06       479,542,015 test.exe
2023-10-21  오전 12:50             2,643 test.py
2023-11-28  오전 11:09             1,143 Untitled.ipynb
2023-12-05  오후 01:14             1,143 Untitled1.ipynb
2023-12-11  오후 03:27         2,740,943 Untitled2.ipynb
2023-12-13  오후 01:42           226,174 Untitled3.ipynb
2023-12-13  오전 10:46                72 Untitled4.ipynb
2023-12-18  오후 02:12            64,549 Untitled5.ipynb
2023-12-18  오후 03:51            35,533 Untitled6.ipynb
2023-12-19  오후 03:09            74,822 Untitled7.ipynb
2023-12-05  오후 09:04    <DIR>          wassup
2023-12-11  오후 02:48         2,173,262 국토교통부_법정동코드_20230918.csv
2023-10-19  오전 07:54           131,072 아파트 매매 상세자료 조회 기술문서.hwp
2023-10-23  오전 12:44             6,081 아파트매매 실거래자료.csv
              64개 파일         995,272,706 바이트
              10개 디렉터리  13,909,757,952 바이트 남음

# Q1-1

```
아래의 파일을 이용하여 df_covid 데이타프레임을 생성하여라.
   
seoul-covid19_6_30_.csv    

```

In [5]:
df_covid = pd.read_csv('./data/seoul-covid19_6_30_.csv' )

In [6]:
df_covid

        연번     환자    확진일   거주지     여행력          접촉력         조치사항
0     1321  12830  6.30.  영등포구       -  영등포구 확진자 접촉            -
1     1320  12829  6.30.   관악구       -         확인 중        보라매병원
2     1319  12831  6.30.  영등포구       -         확인 중      중앙대학교병원
3     1318  12808  6.30.   관악구       -   강남구 역삼동 모임        보라매병원
4     1317  12809  6.30.   관악구       -   강남구 역삼동 모임        보라매병원
...    ...    ...    ...   ...     ...          ...          ...
1316     5      9  1.31.   성북구       -        #5 접촉    서울의료원(퇴원)
1317     4      7  1.30.   마포구  중국 우한시        해외 접촉    서울의료원(퇴원)
1318     3      6  1.30.   종로구       -        #3 접촉  서울대학교병원(퇴원)
1319     2      5  1.30.   중랑구  중국 우한시        해외 접촉    서울의료원(퇴원)
1320     1      2  1.24.   강서구  중국 우한시        해외 접촉  국립중앙의료원(퇴원)

[1321 rows x 7 columns]

In [7]:
df_covid.dtypes

연번       int64
환자       int64
확진일     object
거주지     object
여행력     object
접촉력     object
조치사항    object
dtype: object

In [8]:
df_covid.groupby('거주지').count()

       연번   환자  확진일  여행력  접촉력  조치사항
거주지
강남구    83   83   83   83   83    83
강동구    35   35   35   35   35    35
강북구    24   24   24   24   24    24
강서구    78   78   78   78   78    78
경북      1    1    1    1    1     1
고양시     7    7    7    7    7     7
관악구   117  117  117  117  117   117
광명시     8    8    8    8    8     8
광진구    17   17   17   17   17    17
구로구    86   86   86   86   86    86
구리시     2    2    2    2    2     2
국외거주    1    1    1    1    1     1
군포시     1    1    1    1    1     1
금천구    32   32   32   32   32    32
기타      1    1    1    1    1     1
김포시     5    5    5    5    5     5
남양주     5    5    5    5    5     5
노원구    43   43   43   43   43    43
대구시     2    2    2    2    2     2
대전시     2    2    2    2    2     2
도봉구    62   62   62   62   62    62
동대문구   38   38   38   38   38    38
동작구    53   53   53   53   53    53
마포구    39   39   39   39   39    39
미국      1    1    1    1    1     1
부천시     3    3    3    3    3     3
부평      1    1    1    1    1     1
서대문구   35   35   35   35   35    35
서초구    56   56   56   56   56    56
성남시     5    5    5    5    5     5
성동구    49   49   49   49   49    49
성북구    33   33   33   33   33    33
송파구    55   55   55   55   55    55
수원시     3    3    3    3    3     3
스페인     4    4    4    4    4     4
시흥시     1    1    1    1    1     1
아산시     1    1    1    1    1     1
안산시     1    1    1    1    1     1
안양      1    1    1    1    1     1
안양시     1    1    1    1    1     1
양산시     1    1    1    1    1     1
양주시     3    3    3    3    3     3
양천구    70   70   70   70   70    70
양평      3    3    3    3    3     3
영등포구   65   65   65   65   65    65
용산구    50   50   50   50   50    50
용인시     2    2    2    2    2     2
은평구    53   53   53   53   53    53
의왕시     1    1    1    1    1     1
의정부     2    2    2    2    2     2
인천시     5    5    5    5    5     5
재외국민    1    1    1    1    1     1
종로구    22   22   22   22   22    22
주소불명    1    1    1    1    1     1
중구     12   12   12   12   12    12
중랑구    33   33   33   33   33    33
천안시     2    2    2    2    2     2
파주시     1    1    1    1    1     1
평택시     1    1    1    1    1     1
화성시     1    1    1    1    1     1

In [9]:
df_covid.index.name

# Q1-2
```
'연번' 컬럼은 삭제하고  '환자' 컬럼 값 기준으로 정렬한 후 '환자' 컬럼을 인덱스로 설정하여라. 
```

In [10]:
df_covid = df_covid.drop(columns = ['연번'],axis=0)
df_covid = df_covid.sort_values('환자')
df_covid = df_covid.set_index('환자')

In [11]:
df_covid.index.name

'환자'

In [12]:
df_covid

         확진일   거주지     여행력          접촉력         조치사항
환자
2      1.24.   강서구  중국 우한시        해외 접촉  국립중앙의료원(퇴원)
5      1.30.   중랑구  중국 우한시        해외 접촉    서울의료원(퇴원)
6      1.30.   종로구       -        #3 접촉  서울대학교병원(퇴원)
7      1.30.   마포구  중국 우한시        해외 접촉    서울의료원(퇴원)
9      1.31.   성북구       -        #5 접촉    서울의료원(퇴원)
...      ...   ...     ...          ...          ...
12819  6.30.   마포구       -    대전 꿈꾸는 교회         서남병원
12822  6.29.   의정부       -         확인 중       타시도 이관
12829  6.30.   관악구       -         확인 중        보라매병원
12830  6.30.  영등포구       -  영등포구 확진자 접촉            -
12831  6.30.  영등포구       -         확인 중      중앙대학교병원

[1321 rows x 5 columns]

# Q1-3
어느 지역에서 제일 많은 확진자가 발생했는지 1~5위 까지 출력하여라 (거주지 기준)

In [16]:
df_covid.sort_values('환자',ascending = False)
df_covid[0:5]['거주지']

환자
2    강서구
5    중랑구
6    종로구
7    마포구
9    성북구
Name: 거주지, dtype: object


# Q1-4
확진자가 가장 많이 발생한 1, 2, 3위 지역의 데이타만 출력하여라

In [18]:
df_covid.sort_values('환자',ascending = False)[0:3]

         확진일   거주지 여행력          접촉력     조치사항
환자
12831  6.30.  영등포구   -         확인 중  중앙대학교병원
12830  6.30.  영등포구   -  영등포구 확진자 접촉        -
12829  6.30.   관악구   -         확인 중    보라매병원

# Q1-5
'확진일' 컬럼값을 아래와 같은 형태로 변경하여라
<br>
'1.24.' => '2020-1-24'

In [19]:
df_covid['확진일'] = df_covid['확진일'].apply(lambda x: '2020' + '-' + x.split('.')[0] + '-'+x.split('.')[1])
df_covid

             확진일   거주지     여행력          접촉력         조치사항
환자
2      2020-1-24   강서구  중국 우한시        해외 접촉  국립중앙의료원(퇴원)
5      2020-1-30   중랑구  중국 우한시        해외 접촉    서울의료원(퇴원)
6      2020-1-30   종로구       -        #3 접촉  서울대학교병원(퇴원)
7      2020-1-30   마포구  중국 우한시        해외 접촉    서울의료원(퇴원)
9      2020-1-31   성북구       -        #5 접촉    서울의료원(퇴원)
...          ...   ...     ...          ...          ...
12819  2020-6-30   마포구       -    대전 꿈꾸는 교회         서남병원
12822  2020-6-29   의정부       -         확인 중       타시도 이관
12829  2020-6-30   관악구       -         확인 중        보라매병원
12830  2020-6-30  영등포구       -  영등포구 확진자 접촉            -
12831  2020-6-30  영등포구       -         확인 중      중앙대학교병원

[1321 rows x 5 columns]

# Q1-6
'확진일' 컬럼을 시계열 데이타로 형태를 변경하여라

In [20]:
df_covid['확진일'] = pd.to_datetime(df_covid['확진일'])
df_covid['확진일']

환자
2       2020-01-24
5       2020-01-30
6       2020-01-30
7       2020-01-30
9       2020-01-31
           ...
12819   2020-06-30
12822   2020-06-29
12829   2020-06-30
12830   2020-06-30
12831   2020-06-30
Name: 확진일, Length: 1321, dtype: datetime64[ns]

In [21]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1321 entries, 2 to 12831
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   확진일     1321 non-null   datetime64[ns]
 1   거주지     1321 non-null   object
 2   여행력     1321 non-null   object
 3   접촉력     1321 non-null   object
 4   조치사항    1321 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 61.9+ KB

# Q1-7
3월에 발생한 확진자의 데이타만 출력하여라.

In [22]:
df_covid[df_covid['확진일'].apply(lambda x: x.month) == 3]

             확진일   거주지    여행력           접촉력        조치사항
환자
3616  2020-03-01   강남구      -  부동산 중개 법인 관련   서울의료원(퇴원)
3790  2020-03-01   광진구      -    성동구 아파트 관련   서울의료원(퇴원)
3793  2020-03-01   성북구      -    성동구 아파트 관련   서울의료원(퇴원)
3815  2020-03-01  영등포구      -    성동구 아파트 관련   서울의료원(퇴원)
4224  2020-03-02  영등포구      -    성동구 아파트 관련    서북병원(퇴원)
...          ...   ...    ...           ...         ...
9886  2020-03-31  영등포구  오스트리아      해외 접촉 추정   보라매병원(퇴원)
9912  2020-03-31   양주시      -          확인 중  서울아산병원(퇴원)
9929  2020-03-31   광진구     영국      해외 접촉 추정    건대병원(퇴원)
10079 2020-03-30   용산구     영국      해외 접촉 추정   서울의료원(퇴원)
10081 2020-03-31   관악구   아일랜드      해외 접촉 추정    서남병원(퇴원)

[391 rows x 5 columns]

# Q1-8
주말에 발생한 확진자의 데이타만 출력하여라.

In [23]:
import datetime as dt

df_covid[(df_covid['확진일'].dt.weekday == 5) | (df_covid['확진일'].dt.weekday == 6)]

             확진일  거주지    여행력          접촉력         조치사항
환자
13    2020-02-02  인천시  우한 교민        해외 접촉  국립중앙의료원(퇴원)
29    2020-02-16  종로구      -       #83 접촉  서울대학교병원(사망)
30    2020-02-16  종로구      -       #29 접촉  서울대학교병원(퇴원)
348   2020-02-22  구로구      -   타시도 확진자 접촉  국립중앙의료원(퇴원)
365   2020-02-22  강동구      -    은평구 병원 관련    서울의료원(퇴원)
...          ...  ...    ...          ...          ...
12738 2020-06-28  구로구      -      왕성교회 관련         서남병원
12743 2020-06-28  송파구      -      왕성교회 관련         서남병원
12746 2020-06-28  서초구     미국     해외 접촉 추정         서북병원
12748 2020-06-28  관악구      -  영등포구 확진자 접촉        보라매병원
12754 2020-06-28  남양주      -         확인 중        서울의료원

[325 rows x 5 columns]

# Q1-9
'콜센터'와 관련된 확진자의 데이타를 출력하여라.

In [34]:
df_covid[df_covid['접촉력'].apply(lambda x : '콜센터' in x)]

             확진일   거주지 여행력         접촉력        조치사항
환자
7265  2020-03-08   노원구   -  구로구 콜센터 관련    서북병원(퇴원)
7401  2020-03-09   은평구   -  구로구 콜센터 관련  생활치료센터(퇴원)
7444  2020-03-09   강서구   -  구로구 콜센터 관련    서남병원(퇴원)
7461  2020-03-09    중구   -  구로구 콜센터 관련   서울의료원(퇴원)
7463  2020-03-09   금천구   -  구로구 콜센터 관련   서울의료원(퇴원)
...          ...   ...  ..         ...         ...
8937  2020-03-22  서대문구   -    콜센터직원 접촉    서북병원(퇴원)
8943  2020-03-22  서대문구   -    콜센터직원 접촉  생활치료센터(퇴원)
9170  2020-03-25   강서구   -    콜센터직원 접촉    서남병원(퇴원)
9867  2020-03-31   양천구   -    콜센터직원 접촉    서남병원(퇴원)
10009 2020-04-02   양천구   -    콜센터직원 접촉   보라매병원(퇴원)

[98 rows x 5 columns]

## Q1-10
'우한'과 관련된 확진자의 데이타만 출력하여라.

In [42]:
df_covid[df_covid['여행력'].apply(lambda x : '우한' in x)]

          확진일   거주지     여행력    접촉력         조치사항
환자
2  2020-01-24   강서구  중국 우한시  해외 접촉  국립중앙의료원(퇴원)
5  2020-01-30   중랑구  중국 우한시  해외 접촉    서울의료원(퇴원)
7  2020-01-30   마포구  중국 우한시  해외 접촉    서울의료원(퇴원)
13 2020-02-02   인천시   우한 교민  해외 접촉  국립중앙의료원(퇴원)
23 2020-02-06  서대문구  중국 우한시  해외 접촉  국립중앙의료원(퇴원)
24 2020-02-07   아산시    우한교민  해외 접촉  국립중앙의료원(퇴원)

## Q1-11
사망자는 모두 몇명인가?

In [45]:
len(df_covid[df_covid['조치사항'].apply(lambda x : '사망' in x)])

7

# Q2-1

아래의 파일을 이용하여 데이타프레임을 생성하여라.<br>
   
전국 평균 분양가격.csv

In [250]:
df = pd.read_csv('./data/전국 평균 분양가격.csv',encoding = 'cp949' )

In [251]:
df.head()

,지역,2013년12월,2014년1월,2014년2월,2014년3월,2014년4월,2014년5월,2014년6월,2014년7월,2014년8월,...,2014년11월,2014년12월,2015년1월,2015년2월,2015년3월,2015년4월,2015년5월,2015년6월,2015년7월,2015년8월
0,서울,18189,17925,17925,18016,18098,19446,18867,18742,19274,...,20242,20269,20670,20670,19415,18842,18367,18374,18152,18443
1,부산,8111,8111,9078,8965,9402,9501,9453,9457,9411,...,9208,9208,9204,9235,9279,9327,9345,9515,9559,9581
2,대구,8080,8080,8077,8101,8267,8274,8360,8360,8370,...,8439,8253,8327,8416,8441,8446,8568,8542,8542,8795
3,인천,10204,10204,10408,10408,10000,9844,10058,9974,9973,...,10020,10020,10017,9876,9876,9938,10551,10443,10443,10449
4,광주,6098,7326,7611,7346,7346,7523,7659,7612,7622,...,7752,7748,7752,7756,7861,7914,7877,7881,8089,8231

# Q2-2

행과 열을 아래의 명령어를 이용하여 서로 변경하여라.  (df는 데이타프레임명)
```
df = df.T

```

In [252]:
df = df.T
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
지역,서울,부산,대구,인천,광주,대전,울산,경기,세종,강원,충북,충남,전북,전남,경북,경남,제주
2013년12월,18189,8111,8080,10204,6098,8321,8090,10855,7601,6230,6589,6365,6282,5678,6168,6473,7674
2014년1월,17925,8111,8080,10204,7326,8321,8090,10855,7600,6230,6589,6365,6281,5678,6168,6485,7900
2014년2월,17925,9078,8077,10408,7611,8321,8090,10791,7532,6230,6611,6379,5946,5678,6234,6502,7900
2014년3월,18016,8965,8101,10408,7346,8341,8153,10784,7814,6141,6625,6287,5966,5696,6317,6610,7900

# Q2-3

1행을 삭제하고 2행을 컬럼으로 지정하여라.

In [253]:
df.columns = df.iloc[0]

In [254]:
df = df.drop(index='지역',axis=1)

In [255]:
df = df.reset_index()
df = df.rename(columns = {'index':'지역'})

In [256]:
df['지역'] = df['지역'].apply(lambda x: x.split('년')[0] +'-'+ x.split('년')[1])
df['지역'] = df['지역'].apply(lambda x: x.replace('월',''))

In [257]:
df.head()

지역,지역,서울,부산,대구,인천,광주,대전,울산,경기,세종,강원,충북,충남,전북,전남,경북,경남,제주
0,2013-12,18189,8111,8080,10204,6098,8321,8090,10855,7601,6230,6589,6365,6282,5678,6168,6473,7674
1,2014-1,17925,8111,8080,10204,7326,8321,8090,10855,7600,6230,6589,6365,6281,5678,6168,6485,7900
2,2014-2,17925,9078,8077,10408,7611,8321,8090,10791,7532,6230,6611,6379,5946,5678,6234,6502,7900
3,2014-3,18016,8965,8101,10408,7346,8341,8153,10784,7814,6141,6625,6287,5966,5696,6317,6610,7900
4,2014-4,18098,9402,8267,10000,7346,8341,8153,10876,7908,6373,6678,6552,6277,5736,6412,6599,7900

# Q2-4

'지역' 컬럼을 시계열 데이타로 변경하고 인덱스로 설정하여라.

In [262]:
df['지역'] = pd.to_datetime(df['지역'])

In [263]:
df.head()

지역,지역,서울,부산,대구,인천,광주,대전,울산,경기,세종,강원,충북,충남,전북,전남,경북,경남,제주
0,2013-12-01,18189,8111,8080,10204,6098,8321,8090,10855,7601,6230,6589,6365,6282,5678,6168,6473,7674
1,2014-01-01,17925,8111,8080,10204,7326,8321,8090,10855,7600,6230,6589,6365,6281,5678,6168,6485,7900
2,2014-02-01,17925,9078,8077,10408,7611,8321,8090,10791,7532,6230,6611,6379,5946,5678,6234,6502,7900
3,2014-03-01,18016,8965,8101,10408,7346,8341,8153,10784,7814,6141,6625,6287,5966,5696,6317,6610,7900
4,2014-04-01,18098,9402,8267,10000,7346,8341,8153,10876,7908,6373,6678,6552,6277,5736,6412,6599,7900

# Q2-5

2015년 6월 이후의 데이타만 출력하여라

In [266]:
df[df['지역'] >= '2015-06-01']

지역,지역,서울,부산,대구,인천,광주,대전,울산,경기,세종,강원,충북,충남,전북,전남,경북,경남,제주
18,2015-06-01,18374,9515,8542,10443,7881,8079,9190,10573,8671,6986,6682,6939,6601,6243,6887,7715,7343
19,2015-07-01,18152,9559,8542,10443,8089,8079,9190,10518,8669,7019,6601,6935,6750,6286,7035,7723,7343
20,2015-08-01,18443,9581,8795,10449,8231,8079,9215,10573,8695,7008,6603,6942,6580,6289,7037,7665,7343

# Q2-6

2014년도의 서울, 인천 경기 컬럼만 출력하여라.

In [269]:
df[['서울','인천','경기']][df['지역'].dt.year == 2014]

지역     서울     인천     경기
1   17925  10204  10855
2   17925  10408  10791
3   18016  10408  10784
4   18098  10000  10876
5   19446   9844  10646
6   18867  10058  10266
7   18742   9974  10124
8   19274   9973  10134
9   19404   9973  10501
10  19759  10016  10397
11  20242  10020  10356
12  20269  10020  10379

# Q2-7
csv 파일 형태로 현재의 데이타프레임을 저장하여라. 
<br>
output/평균분양가격_서울인천경기.csv

In [270]:
df = df[['서울','인천','경기']][df['지역'].dt.year == 2014]
df.to_csv('평균분약가겨_서울인청경기.csv',encoding = 'cp949')